* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #08009a;
    text-align: center;
}

label {
    margin-top: 10px;
    font-size: 14px;
    color: #08009a;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #08009a;
    border-radius: 5px;
    font-size: 14px;
}

.button {
    width: 100%;
    padding: 10px 158px;
    background-color: #ff8a00;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: ease-in 0.5s;
}

.button:hover {
    background-color: #ff6300;
}