*{
  margin: 0;
  padding: 0;
}
header{
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
  height: 74px;
  justify-content: space-between;
}
header nav {
  list-style-type: none;
  padding: 0;
  height: 74px;
}
header nav a {
  font-size: 20px;
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  color: #08009a;
}
body{
  margin: 0;
}
.search-box{
  position: absolute;
  top: 15px;
  right: 70px;
  height: 30px;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-txt{
  border: none;
  background: none;
  border-radius: 10px;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  width: 0;
  transition: 0.5s;
}
.search-btn{
  width: 40px;
  height: 40px;
  margin-left: 5px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn{
  background-color: #ffffff;
}
.notification-icon{
  position: absolute;
  top: 13px;
  right: 27px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.profile-icon, #perfilUsuario{
  position: absolute;
  top: 10px;
  right: 5px;
  width: 34px;
  height: 34px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.carousel {
  background-color: transparent;
  position: relative;
}
.mySlides {
  display: none;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0 auto;
}
.slideshow-container {
  position: relative;
  margin: 0;
}
.carousel .prev,
.carousel .next{
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #000000;
  font-weight: bold;
  font-size: 1.25rem;
  transition: 0.6s ease;
  border: none;
  user-select: none;
  left: 0;
}
.carousel .next{
  left: unset;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.carousel .prev:hover,  
.carousel .prev:focus,
.carousel .next:hover,
.carousel .next:focus{
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}
.carousel .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.texto{
  z-index: 1000;
  position: absolute;
  margin: 30% 50px;
  font-family: "DM Sans", sans-serif;
  font-size: 100px;
  color: #fff;
}
.button-watch{
  z-index: 1000;
  position: absolute;
  background-color: #08009a;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  margin: 40% 70px;
  font-family: sans-serif;
  padding: 20px 40px;
  transition: ease-in 0.5s;
}
.button-watch:hover{
  padding: 23px 43px;
}
.button-watch2{
  z-index: 1000;
  position: absolute;
  background-color: #08009a;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  margin: 50% 70px;
  font-family: sans-serif;
  padding: 20px 40px;
  transition: ease-in 0.5s;
}
.button-watch2:hover{
  padding: 23px 43px; 
}
.section-cartaz{
  width: auto;
  height: 50%;
  margin: 20px;
  font-family: sans-serif;
  font-size: 30px;
  color: #ff8a00;
}
.cartaz{
  margin: 20px;
  align-items: center;
  display: inline-block;
  justify-content: space-between;
}
.cartaz-button{
  width: 190px;
  height: 290px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: ease-in 0.5s;
}
.cartaz-button:hover{
  width: 200px;
  height: 300px;
}
footer {
  background-color: #ffffff;
  color: #08009aff;
  font-family: sans-serif;
  text-align: center;
  position: center;
  width: 100%;
}

.autocomplete-suggestions {
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 10px;
  right: 0;
  z-index: 1000;
  max-height: 200px;
  max-width: 250px;
  overflow-y: auto;
  border-radius: 16px;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
